*{
    border: 0;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#hyprland_workspaces {
	background: rgba(0,0,0,0.2);
    padding: 0 4px;
	border-radius: 10px;
}

#hyprland_workspaces button {
    color: rgba(255, 255, 255, 0.25);
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0 2px;
}

#hyprland_workspaces button.focused {
    color: white;
    border-bottom: 2px solid white;
}

#hyprland_workspaces button.occupied {
    color: rgba(255, 255, 255, 0.6);
}

hyprland_workspaces button.urgent {
    color: #f53c3c;
    background: rgba(245, 60, 60, 0.2);
}

#mode {
	background: rgba(0,0,0,0.2);
    border-bottom: 3px solid white;
	border-radius: 10px;
}

#clock {
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

#cpu, #custom-gpu, #memory, #custom-ethernet, #network, #pulseaudio, #tray{
	background: rgba(0,0,0,0.2);
    padding: 0 10px;
    margin: 0 2px;
	border-radius: 10px;
}

#network.disconnected {

}
